<div class="menu">
    <ul class="list">
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">widgets</i>
                <span>Quản trị hệ thống</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Organize">
                        <span>Cấu trúc tổ chức</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Right">
                        <span>Danh sách quyền</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Role">
                        <span>Danh sách role</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/User">
                        <span>Người dùng</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/UserGroup">
                        <span>Nhóm người dùng</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Menu">
                        <span>Menu</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Message">
                        <span>Message</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Form">
                        <span>Form</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/AD/Language">
                        <span>Ngôn ngữ</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">swap_calls</i>
                <span>Danh mục</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/Domain">
                        <span>Domain</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/Dictionary">
                        <span>Dictionary</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/Unit">
                        <span>Đơn vị tính</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/Title">
                        <span>Chức danh</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/ProjectRole">
                        <span>Vai trò trong dự án</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/ProjectUserType">
                        <span>Nhóm nhân sự dự án</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/ProjectType">
                        <span>Loại dự án</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/ProjectLevel">
                        <span>Cấp dự án</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/ContractType">
                        <span>Loại hợp đồng</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/Customer">
                        <span>Khách hàng</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/MD/Vendor">
                        <span>Nhà thầu phụ</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">swap_calls</i>
                <span>PMS</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/PS/Project">
                        <span>Project</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/PS/Contract">
                        <span>Contract</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">description</i>
                <span>Danh sách dự án</span>
            </a>

        </li>

        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">apps</i>
                <span>Quản lý công việc</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/PS/Project">
                        <span>Công việc cần xử lý</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="Forms.LoadFormMenu(this)" url="/PS/Project">
                        <span>Danh sách công việc</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
