@{
    var ViewId = Guid.NewGuid().ToString();
    var FormId = Guid.NewGuid().ToString();
    var frmFormCode = "frmPOSaleApprove";
}
<div id='@ViewId' class="container-fluid m-t-30">
    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-cyan">format_list_numbered</i>
                </div>
                <div class="content">
                    <div class="text">HỢP ĐỒNG</div>
                    <div class="text">(Contract)</div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-blue">account_balance</i>
                </div>
                <div class="content">
                    <div class="text">ĐƠN VỊ VẬN TẢI</div>
                    <div class="text">(Vendor)</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-brown">local_gas_station</i>
                </div>
                <div class="content">
                    <div class="text">CỬA HÀNG XĂNG DẦU</div>
                    <div class="text">(Sale office)</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-deep-orange">local_shipping</i>
                </div>
                <div class="content">
                    <div class="text">PHƯƠNG TIỆN</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-deep-purple">straighten</i>
                </div>
                <div class="content">
                    <div class="text">ĐƠN VỊ TÍNH</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-green">commute</i>
                </div>
                <div class="content">
                    <div class="text">LOẠI PHƯƠNG TIỆN</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-indigo">local_movies</i>
                </div>
                <div class="content">
                    <div class="text">LOẠI HÌNH DI CHUYỂN</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">format_align_left</i>
                </div>
                <div class="content">
                    <div class="text">SOTYPE</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">format_align_left</i>
                </div>
                <div class="content">
                    <div class="text">SLOCCH</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">format_align_left</i>
                </div>
                <div class="content">
                    <div class="text">SHTYPE</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">format_align_left</i>
                </div>
                <div class="content">
                    <div class="text">POTYPE</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">all_inclusive</i>
                </div>
                <div class="content">
                    <div class="text">TUYẾN ĐƯỜNG</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">developer_board</i>
                </div>
                <div class="content">
                    <div class="text">HÀNG HÓA</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">format_align_left</i>
                </div>
                <div class="content">
                    <div class="text">DIVISION</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">format_align_left</i>
                </div>
                <div class="content">
                    <div class="text">DC</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">supervisor_account</i>
                </div>
                <div class="content">
                    <div class="text">KHÁCH HÀNG</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">format_align_left</i>
                </div>
                <div class="content">
                    <div class="text">BATCH</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-red">history</i>
                </div>
                <div class="content">
                    <div class="text">PHƯƠNG THỨC THANH TOÁN</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
                </div>
            </div>
        </div>
    </div>
</div>



