<div id="menu-project" style="display: none;">
    <div id="project-m1" text="Create">
        <div id="project-m11" text="BOQ"/>
        <div id="project-m12" text="WBS"/>
    </div>
</div>
<div id="menu-boq" style="display: none;">
    <div id="boq-m1" text="Create">
        <div id="boq-m11" text="BOQ"/>
    </div>
</div>
<div id="menu-wbs" style="display: none;">
    <div id="wbs-m1" text="Create">
        <div id="wbs-m11" text="WBS"/>
        <div id="wbs-m11" text="Activity"/>
    </div>
</div>
<div id="menu-activity" style="display: none;">
    <div id="activity-m1" text="Create">
        <div id="activity-m11" text="Task list"/>
    </div>
</div>
