@model IList<SMO.Service.PS.Models.PlanProgressModel>
@using Newtonsoft.Json;
@{
    var viewId = Guid.NewGuid().ToString();
    var gridId = Guid.NewGuid().ToString();
}
<div style="height: calc(100vh - 242px)">
    <div class="p-t-10" style="height: 100%; width: 100%" id="@gridId"></div>
</div>
<script type="text/javascript">
    $(function () {
        const rawData = @Html.Raw(JsonConvert.SerializeObject(Model));
        const gridData = _.map(rawData, (x) => (
            {
                ...x,
                START_DATE: moment(x.START_DATE).toDate(),
                FINISH_DATE: moment(x.FINISH_DATE).toDate(),
                id: x.Id,
                parent: x.Parent ?? undefined
            }))

        const columns = [
            { id: "TEXT", header: [{ text: "Hạng mục công việc" }] },
            { id: "TYPE", header: [{ text: "Loại đối tượng" }] },
            //{ id: "CODE", header: [{ text: "MÃ" }] },
            { id: "UNIT_NAME", header: [{ text: "Đơn vị tính" }] },
            { id: "CONTRACT_VALUE", header: [{ text: "Khối lượng hợp đồng" }] },
            { id: "START_DATE", header: [{ text: "Ngày bắt đầu" }], type: "date", format: "%d/%m/%Y" },
            { id: "FINISH_DATE", header: [{ text: "Ngày kết thúc" }], type: "date", format: "%d/%m/%Y" },
        ]

        var grid = new dhx.TreeGrid("@gridId", {
            columns,
            autoWidth: true,
            autoHeight: true,
            leftSplit: 2,
            adjust: true,
            resizable: true,
            data: gridData,
            id: null
        });

        
    });
</script>

