@model string
<script type='text/javascript' src='https://pmsbi.fecon.com.vn/javascripts/api/viz_v1.js'></script>

<div class='tableauPlaceholder'>
    <object class='tableauViz' style='display:none; width: 100vw; height: calc(100vh - 55px)'>
        <param name='host_url' value='https%3A%2F%2Fpmsbi.fecon.com.vn%3A8000%2F' />
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='' />
        <param name='name' value='Fecon_PMS_Dashboard_16524966878560&#47;Dashboard1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
        <param name="ticket" value="@Model" />
        <param name='showAppBanner' value='false' />
    </object>
</div>