@model SMO.Service.CM.ReferenceFileService
@using SMO.Core.Entities
@using SMO.Core.Entities.MD
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();

    var strTaiVe = "Tải về";
    var strXemOnline = "Xem online";
    var strMoBang = "Mở bằng ";
    var strXoa = "Xóa";
    var isRemoveFile = false;
    if (ViewBag.IsRemoveFile != null)
    {
        isRemoveFile = Convert.ToBoolean(ViewBag.IsRemoveFile);
    }
}
<div id='@Model.ViewId'>
    <script src="~/Scripts/D2SCoreJS/UploadFile.js"></script>
    @using (Ajax.BeginForm("SearchListFiles", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId, @class = "frmListFiles" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.FormId)
        @Html.HiddenFor(m => m.ObjDetail.REFERENCE_ID)
        if (isRemoveFile)
        {
            <input type="hidden" value="true" name="isRemoveFile" />
        }
        <div id="divResult" style="padding: 10px;"></div>
    }

    <script type="text/javascript">
        $(function () {
            $(".frmListFiles").submit();
        })
    </script>
</div>
